.checkout-wrapper{
  position:fixed;
  width:100%;
  bottom:0;
  top:0px;
  z-index:11;
  overflow:auto;
  background-color:rgba(27,36,48,0.9);
}
.checkout-wrapper>h1{
  color:white;
  text-align:center;
  margin-top:20px;
}
.question-screen{
  width:700px;
  padding:80px 10px 80px 10px;
  background:rgba(229, 228, 226,1);
  margin:auto;
  border-radius:20px;
  position:relative;
  height:auto;
  overflow:auto;
  z-index:100;
}
.checkout-close-icon{
  position:absolute;
  color:red;
  z-index:13;
  right:20px;
  font-size:30px;
  top:20px;
}

.gender-input-form{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  margin-top:60px;
}
.checkout-next{
  position:absolute;
  right:90px;
  bottom:20px;
  width:100px;
  background:#0d6efd;
  border:none;
  padding:5px;
  border-radius:10px;
}
.form-check label{
  display:flex;
  gap:5px;
  align-items:center;
  justify-content:center;
}
.choose-animal-amount{
  display:flex;
  position:relative;
  flex-direction:column;
}
.female-calves{
  width:100%;
  margin-top:20px;
  
}
.female-calves >h1, .male-calves>h1{
  text-align:center;
  font-weight:600;
}
.male-calves{
  width:100%;
  margin-top:20px;
  
}
.preferrence{
  display:flex;
  flex-wrap:wrap;
  width:85%;
  margin:auto;
  gap:10px;
}
.custom-option{
  display:flex;
  align-items:center;
  width:85%;
  margin:auto;
  gap:10px;
  margin-top:20px;
}
.preferrence button{
  width:100px;
  border:none;
  color:white;
  padding:5px;
  background:grey;
}
.custom-option p{
  margin-bottom:0px;
}
.preferrence button:hover, .preferrence button:focus{
  background:#0d6efd;
}
.gender-control-button{
  display:flex;
  width:85%;
  margin:auto;
  margin-top:40px;
  justify-content:space-between;
}
.gender-control-button>button{
  width:100px;
  background:#0d6efd;
  border:none;
  padding:5px;
  pointer:cursor;
}
@media screen and (max-width:700px){
  .question-screen{
  width:97%;
  padding:80px 10px 80px 10px;
  
}
}

/* pricing */
.checkout-pricing>h1{
  width:100%;
  margin:auto;
  text-align:center;
}
.checkout-prices{
  padding-top:10px;
  padding-bottom:50px;
}

.checkout-prices{
  display:flex;
  flex-direction:row;
  width:100%;
  margin:auto;
}
.checkout-price1, .checkout-price2{
  width:45%;
  margin:auto;
  -webkit-box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.58); 
  box-shadow: 0px 5px 12px 2px rgba(0,0,0,0.58);
  border-radius:10px;
}
.prices-flex>h2{
  text-align:center;
  color:black;
  margin-block-start:0px;
  margin-block-end:0px;
  padding-top:30px;
  padding-bottom:30px;
}
.prices-flex>h1{
  font-size:25px;
  color:#0a66c2;
  text-align:center;
  margin-block-start:0px;
  margin-block-end:0px;
  
}
.prices-flex>h1>span{
  font-size:15px;
}
.prices-flex>ul{
  padding-inline-start: 5px;
}
.prices-flex>ul>li{
  display:block;
  font-size:20px;
  color:black;
  
}
.checkout-price2{
  background: rgb(135,190,244);
background: linear-gradient(90deg, rgba(135,190,244,1) 0%, rgba(207,228,250,1) 49%, rgba(135,190,244,1) 100%);
}
.prices-flex>ul li{
  display:table;
  vertical-align:middle;
}
.prices-flex>ul li *{
  display:table-cell;
  vertical-align:middle;
}

.prices-flex>ul li:before {
		content: "\27A2";
    font-size:40px;
    height:100%;
    display:table-cell;
    vertical-align:middle;
    color:#0a66c2;
    
	     }
.prices-flex>a>button, .prices-flex>button{
  float:right;
  font-size:20px;
  padding:0px;
  margin-right:10px;
  margin-bottom:10px;
  height:40px;
  border:none;
  border-radius:10px;
  color:white;
  background:#0a66c2;
  width:55%;
  cursor:pointer;
}
. checkout-price-recomend{
  float:right;
  font-size:20px;
  padding:5px;
  color:blue;
  background:yellow;
  font-weight:bold;
  border-top-right-radius:10px;
  border-bottom-left-radius:10px;
}
.prices-flex:nth-child(2)>h2{
  margin-top:10px;
}
@media only screen and (max-width:1180px){
 .checkout-prices{
  flex-direction:column;
  width:95%;
}  
  .checkout-price1, .checkout-price2{
  width:80%;
  margin-top:20px;
}

}
.checkout-summary>h1{
  width:100%;
  margin:auto;
  text-align:center;
  
}
.order-gender-wrapper{
  width:50%;
  margin:auto;
  margin-top:20px;
}
.order-column1> img{
  max-width:80px;
  
}
.order-male,.order-female{
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:space-between;
  margin:auto;
  align-items:center;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 1px 2px 10px 2px #0E8DF2; 
box-shadow: 1px 2px 10px 2px #0E8DF2;
  
}
.order-column1{
  display:flex;
  align-items:center;
  gap:20px;
}

.order-column1 h4{
  font-size:20px;
  margin-bottom:0px !important;
  
}
.order-column1 p{
  font-size:17px;
  margin-bottom:0px !important;
}
.order-count{
  font-size:60px;
  font-weight:1000;
  color:#0e8df2
}