body{
  height: 100% !important;
  width: 100% !important;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0e8df2;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #0e8df2;  /* creates padding around scroll thumb */
}